{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class='card shadow mx-auto text-left m-4 p-3 bg-light' style="width:375px;">
      <h1 class="text-info">Auction Genie</h1>
        <div class='h4 mb-4'>
          Log in
        </div>
        {% crispy form %}

        <a class="btn btn-outline-primary mt-3" href="{% url 'signup' %}" >
          Sign Up 
        </a>
    </div>

{% endblock %}



<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
     defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
     integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"
     defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
     integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"
     defer></script>
       
    <link rel="stylesheet" href="css/style.css"/>
       
    <title>Login page</title>
  </head>

  <body>
    <div id="picture" class="bg-image shadow-1-strong">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(114, 149, 255, 0.8);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
              <form class="bg-white p-5 rounded" method="post">
                
                <head>
                  <h1 class="text-center">Auction Genie</h1>
                  <h2 class="text-center">Login Page</h2>
                </head>

                <div class="row justify-content-center">
                 <div class="form-group first">
                   <label for="email">Email address</label>
                   <input type="text" id="email" class="form-control" />
                 </div>

                 <div class="form-gorup last mb-4">
                   <label for="password">Password</label>
                   <input type="password" id="password" class="form-control" />
                 </div>


                 <div class="container">
                   <div class="col d-flex justify-content-center">
                     <div class="form-check">
                       <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                       <label class="form-check-label mb-4" for="form2Example31"> Remember me </label>
                     </div>
                   </div>
                 </div>

                 <div class="text-center mb-4">
                   <a href="#!">Forgot password?</a>
                 </div>

                 <button type="button" class="btn btn-primary btn-block mb-4 container">Sign in</button>

                 <div class="text-center">
                   <p>Not a member? <a href="#!">Register</a></p>
                 </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
#picture {
  background-image: url(https://img.freepik.com/free-photo/court-hammer-books-judgment-law-concept_144627-30454.jpg?w=900&t=st=1670348123~exp=1670348723~hmac=13681c693ea683e172b4ce431515e22de3dcb868fa0fe33dff8faeeda24763a5);
  height: 100vh;
}
h1{
    font-family: cursive;
    font-size: 50px;
}
h2{
    font-family: cursive;
    font-size: 35px;
}
</style>
       -->